@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-image: url(../magenta.jpg);
   background-position: absolute;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

nav {
   height: 10vh;
   background: rgba(243, 107, 159, 0.25);
}

.nav-links {
   display: flex;
   list-style: none;
   width: 50%;
   height: 100%;
   justify-content: space-around;
   align-items: center;
   margin-left: auto;
   opacity: 6;
}

.nav-links li a {
   font-family: "Cinzel", serif;
   color: white;
   text-decoration: none;
   font-size: 16px;
   opacity: 5;
}

.nav-links a:hover {
   color: rgb(238, 213, 220);
}

.landing {
   height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   opacity: 5;
}

.landing h1 {
   font-family: "Cinzel", serif;
   color: rgba(255, 255, 255, 0.733);
   background: rgba(243, 107, 159, 0.25);
   border: 2px solid rgba(197, 16, 101, 0.45);
   border-radius: 10px;
   padding: 30px;
   width: 70%;
   font-size: 13px;
   font-weight: 400;
   opacity: 5;
}
